<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="join">
<select id="findZipcode" statementType="PREPARED"
    parameterType="String"
    resultType="dontlikenaming.springboot.semiprojectv5.model.Zipcode">
        select * from zipcode_2013 where dong like #{dong} order by zipcode asc
    </select>
    <select id="selectOneUid" statementType="PREPARED"
            parameterType="String"
            resultType="Integer">
        select count(userid) cnt from member where userid = #{uid}
    </select>
    <insert id="insertMember" statementType="PREPARED"
            parameterType="dontlikenaming.springboot.semiprojectv5.model.Member">
        insert into member (name, pnum1, pnum2, pnum3, userid, passwd, zipcode, addr1, addr2, email) values (#{name}, #{pnum1}, #{pnum2}, #{pnum3}, #{userid}, #{passwd}, #{zipcode}, #{addr1}, #{addr2}, #{email})
    </insert>
</mapper>